@charset "utf-8";

.southwick-picture-index {
  display: block;
  max-width: 560px;
  height: 512px;
}

.about-me-section-1 {
  margin: 32px
}

.picture-div {
  min-width: 460px;
  min-height: 512px;
}

.row .thumbnail {
  border:0;
  box-shadow:0;
  border-radius:0;
}

.centered {
  text-align: center;
}

.padding-s-l {
  padding-left: 8px;
}

.inline-block {
  display: inline-block;
}

.list-container {
}

.list-container .list {
}

.flip {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.southwick-picture {
  display: block;
  max-width: 560px;
  height: 512px;
}

.banner-picture {
  display: block;
  max-width: 560px;
  height: 512px;
}

.main-index {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/*
 * black #2E2E2E
 * dark grey #808080
 * light grey #BFBFBF
 * white #FFFFFF
 */
