---
title: About Me
---

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img class="southwick-picture-index" src="images/southwick-picture-small.jpeg"/>
    </div>
    <div class="col-md-6">
      <h1>Mike Southwick</h1>
      <p>
      I was born and raised in Lehi and have lived in Lehi my whole life.
      I have witnessed Lehi grow from a small community of around 8,000 to 55,000.  I
      have a love of Lehi and the rich heritage we enjoy.  As I was growing up, my
      parents taught me the importance of service in my community and church.  The
      principle was simple:  when you live in a city, you serve within that city.  My
      dad used to always say “you don’t have a right to complain about your city
      unless you are offering your services to that city.”
      </p>
      <p>
      I attended school in Lehi when Lehi only had two elementary schools, one Jr.
      High, and one high school.  We have come a long ways.  After graduating from
      Lehi High School, I attended Utah Technical School (now UVU).  I learned a
      trade in the electrical field and operated an electrical business for over 30
      years.
      </p>
      <p>
      I married my wife, Beckie Peel Southwick, in 1975.  Family has always been the
      most important part of our life.  We raised six boys who all live in Lehi at
      the present time.  We also have 18 grandchildren.  I believe that the family is
      the very core of our city and civilization.  Because of my belief in the
      importance of the family, I want to keep our great city and its activities and
      events family friendly.  I believe that we need to keep our Lehi traditions
      alive by welcoming and including all citizens—new and old—in our plans and
      events.
      </p>
    </div>
</div>
<div class="row">
  <div class="page-header">
    <h1 class="centered">My Family</h1>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/test-1.jpeg"/>
      <div class="caption">
        <h4 class="centered">Cody & Melissa Southwick</h4>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/test-2.jpeg"/>
      <div class="caption">
        <h4 class="centered">Shane & Cali Southwick</h4>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/test-3.jpeg"/>
      <div class="caption">
        <h4 class="centered">Rus & Kristy Southwick</h4>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/test-4.jpeg"/>
      <div class="caption">
        <h4 class="centered">Weston & Katrina Southwick</h4>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/test-5.jpeg"/>
      <div class="caption">
        <h4 class="centered">Brock & Katie Southwick</h4>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/test-6.jpeg"/>
      <div class="caption">
        <h4 class="centered">Cameron & Savannah Southwick</h4>
      </div>
    </div>
  </div>
</div>
</div>

