---
title: Contact Me
---

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img class="southwick-picture-index" src="images/southwick-picture-small.jpeg"/>
    </div>
    <div class="col-md-6">
      <h1>Contact Me</h1>
      <p>Email:  <a href="mailto:mvsouthwick@yahoo.com">mvsouthwick@yahoo.com</a></p>
      <p>Phone:  801.358.8360</p>
      <p>
      When you email me, please give me your phone number as well.  Often time, I
      feel like it is more productive to talk through an issue rather than exchange
      numerous emails.
      </p>
    </div>
  </div>
</div>
