---
title: Mike Southwick
---

<div class="main-index">
  <div class="">
    <img class="item southwick-picture" src="images/southwick-picture-small.jpeg"/>
  </div>
  <div class="">
    <img class="banner-picture" src="images/Re-Elect_mike_southwick.jpg"/>
  </div>
</div>
