---
title: Issues
---

<div class="container">
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/test-1.jpeg"/>
    </div>
  </div>
  <div class="col-sm-6 col-md-8">
    <h4>Parks and Recreation</h4>
    <p>
    We talk a lot about parks and recreation.  We have developed a Master Park Plan
    with citizen input to determine our current and future needs.  During this
    process, it became apparent that some people feel we have enough parks and
    others disagree.  The creation of the Master Park Plan balanced these concerns
    and set a course to determine where we need more parks and what those parks
    should include.  I recognize that we need more parks for baseball, soccer, and
    football fields.  I believe that youth sports provide a tremendous opportunity
    for our city’s youth to learn valuable life lessons and develop healthy habits.
    I also, however, recognize that we need places for our citizens to go to relax,
    meditate, and enjoy the outdoors without the commotion often associated with
    sports fields.  I will work to listen to citizen input on these issues and
    create parks and recreation opportunities that address these diverse interests.
    To this end, and in accordance with our plan, the City has purchased property
    for new parks this year and will continue to purchase more property, as is
    prudent, to keep up with future needs.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-8">
    <h4>Water</h4>
    <p>
    Lehi has sufficient and secure access to culinary water to satisfy
    our needs.  During the past couple of years, Lehi has implemented
    measures to ensure that citizens have an adequate supply of
    irrigation water.  Lehi has often been the first city to implement
    such measures—though surrounding communities always follow.  These
    restrictions were implemented early *** The City has recently drilled
    more wells and built additional holding ponds to provide us with
    additional irrigation water.  One of these holding ponds is designed
    to catch water that overspills from other holding ponds.
    </p>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/test-2.jpeg"/>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/test-3.jpeg"/>
    </div>
  </div>
  <div class="col-sm-6 col-md-8">
    <h4>Growth</h4>
    <p>
    The City continues to grow—both in the number of residents and
    businesses.  With growth, comes related concerns:  traffic, emergency
    services, infrastructure needs, etc.  Lehi is an attractive place to
    live and work—so future growth is inevitable.  We are only one-third
    build out at the present time.  The City continues to study the most
    effective ways to manage growth and continue to provide top-notch
    emergency service, parks and recreation, and other services.  With
    this information, and your input, I believe future growth can be
    efficiently managed and ultimately enrich our great community.
    </p>
  </div>
</div>
</div>
