---
title: Leadership
---

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img class="southwick-picture-index" src="images/southwick-picture-small.jpeg"/>
    </div>
    <div class="col-md-6">
      <h1>Leadership & Qualifications</h1>
      <div>
        <h4>Lehi City Council Member 2012 to present</h4>
        <div class="list-container">
          <ul class="list">
            <li>
              Member of the Board of Directors for the John Hutchings Museum
            </li>
            <li>
              Actively worked with the Lehi Historical Society, including
              John Haws and committee members, to protect and preserve Lehi’s archives and to
              bring about Lehi’s Heritage Days celebration
            </li>
            <li>
              Member of the Board of Directors for the Lehi Historical Preservation Committee
            </li>
            <li>
              Board of Directors North Point Solid Waste
            </li>
            <li>
              Active member of the Main Street Revitalization Committee
            </li>
          </ul>
        </div>
      </div>
      <h4>Small business owner for 35 years</h4>
      <div>
        <h4>Lehi Civic Improvement Association</h4>
        <div class="list-container">
          <ul class="list">
            <li>
              Vice President 2015 - present
            </li>
            <li>
              Director for 12 years
            </li>
            <li>
              Organizes volunteers and concessions for the Lehi Roundup
            </li>
          </ul>
        </div>
      </div>
      <div>
        <h4>Volunteer fireman for Lehi City, 1982-2007</h4>
        <h4>Volunteer leader and administrator for the Boy Scouts of America for over 25 years</h4>
        <h4>Over 20 years of leadership service in my church, including serving as a LDS bishop and counselor in the Lehi Stake presidency</h4>
      </div>
    </div>
  </div>
</div>
