---
title: Voting Info
---

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img class="southwick-picture-index" src="images/vote.jpg"/>
    </div>
    <div class="col-md-6">
      <h3>Voting</h3>
      <p>
      The vote by mail system implemented for the 2015 primary elections
      increased voter participation dramatically.  Voting in the general
      election will also be using the vote by mail system.  Make sure you
      send in your ballot and do not throw it away or miss your voting
      deadline.  I would love the opportunity to serve the citizens of Lehi
      for another term and would appreciate your vote.  Even if you choose
      not to vote for me, I hope you will still exercise your right to vote.
      </p>
      <div>
        <h3>Important Dates</h3>
        <p>October 5: Last day to register to vote by mailing a registration form</p>

        <p>October 6: ballots are mailed to voters</p>

        <p>October 26: Last day to register to vote at the Utah County Clerk’s Office</p>

        <p>October 27: Last day to register to vote online at Vote.Utah.Gov</p>

        <p>October 29: Last day to request an absentee ballot</p>

        <p>November 3: General Election Day</p>
      </div>
    </div>
  </div>
</div>
